@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("/resources/Background.png");
    background-size: cover;
}

/* NAVBAR */

#navbar{
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgba(249, 249, 249, 0.5);
    box-shadow: 0px 7px 39px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#navbar.hidden{
    transform: translateY(-80px);
}

.nav-main{
    color:rgba(143,143,143,1);
    transition: color .2s ease-in-out;
    font-weight: 600;
}

#nav-1 {
    background: linear-gradient(151deg, #37797D 0%, #7517A2 49.76%, #2A296D 100%);
    background-size: 200% 200%;
    animation: rainbow 1.5s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

#nav-2 {
    background: linear-gradient(89.82deg, #C5A687 0.14%, #BA7A76 50.2%, #B16898 92.49%);
    background-size: 200% 200%;
    animation: rainbow 1.5s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
}

#nav-3 {
    background: linear-gradient(89.85deg, rgba(147, 112, 184, 0.74) -23.65%, rgba(74, 109, 162, 0.67) 29.38%, #BB78A4 84.47%);
    background-size: 200% 200%;
    animation: rainbow 1.5s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
}

#nav-1:hover, #nav-2:hover, #nav-3:hover {
    color: rgba(0, 0, 0, 0);
}

@keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
}

nav img{
    width: 45px;
}

#nav-reglog{
    display: flex;
    gap: 20px;
    align-items: center;
}

#nav-reglog a{
    color: #1E1E1E;
    font-weight: 500;
}

#head{
    position: absolute;
    transform: translate(5.75px, -10px);
    background-color: transparent;
    border: 2px solid #1E1E1E;
    border-radius: 100px;
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
}

#body{
    position: absolute;
    transform: translate(1px, 2px);
    background-color: transparent;
    border: 2px solid #1E1E1E;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    height: 10px;
    width: 20px;
    padding: 0;
    margin: 0;
}


/* CONTENT */

#container{
    margin: 60px auto;
    padding: 25px;
    width: 1230px;
    border-radius: 50px;
    background: linear-gradient(92.68deg, rgba(251, 192, 252, 0.59) -2.91%, rgba(255, 255, 255, 0.52) -2.9%, rgba(234, 234, 234, 0.44) 50.05%, rgba(231, 231, 231, 0.47) 104.19%);
    mix-blend-mode: normal;
    box-shadow: -2px 0px 20px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#container h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.115em;
    background: linear-gradient(90.53deg, #3B2747 5.26%, #472151 105.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    margin-bottom: 40px;
}

#container .content-top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}

#container .card{
    padding: 30px;
    width: 350px;
    background: linear-gradient(93.74deg, rgba(255, 255, 255, 0.4) 15.22%, rgba(255, 255, 255, 0.1) 104.32%);
    box-shadow: -2px 0px 20px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 46px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#container .card h2{
    color: #205050;
    letter-spacing: 0.11em;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

#container label{
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.11em;
    color: #205050;
}

#container input{
    background: linear-gradient(92.43deg, rgba(240, 240, 240, 0.5) 3.1%, rgba(233, 233, 233, 0.5) 103.99%);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 15px;
    border: none;
}

#container input::placeholder{
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #6C6B71;
}

#container .content-bot{
    display: flex;
    gap: 43.34px;
    margin-left: 20px;
}

#container button{
    height: 40px;
    width: 100px;
    background: linear-gradient(93.74deg, rgba(35, 35, 35, 0.88) 11.53%, rgba(0, 0, 0, 0.99) 104.32%);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 50px;
    color: #ebebeb;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.065em;
    align-self: flex-end;
    transform: translate(250px, 0);
}




/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(95.32deg, rgba(162, 162, 162, 0.5) 23.77%, rgba(207, 207, 207, 0.5) 71.08%);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    padding: 30px;
}

footer p{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

#himstat p{
    padding-left: 20px;
}

#himstat{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 50px;
    width: 50%;
}

footer h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    padding-left: 20px;
}

#himstat-info{
    display: flex;
}

#cp{
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    width: 50%;
}

#media, #contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#media h3, #contact h3{
    transform: translate(-10px, 0);
}

#contact-info{
    display: flex;
    align-items: center;
}